{% extends 'base.html.twig' %}

{% block title %}Edit Order{% endblock %}

{% block javascripts %}
    <script src="{{ asset("asset/script.js") }}" type="text/javascript">
        console.log("test")
        window.addEventListener("DOMContentLoaded", (event) => {
            console.log("test")
            document.querySelectorAll('legend')
                .forEach(elem => {
                    console.log("test")
                    elem.parentNode.removeChild(elem);
                });
        });
    </script>
{% endblock %}

{% block body %}

    <h1>Edit Order</h1>


    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    {{ include('order/_form.html.twig') }}

    <a href="{{ path('order_index') }}">back to list</a>

{% endblock %}

